<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}  %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="LOG-FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/debug.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}  %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR_URL" class="ch.qos.logback.core.FileAppender">
        <file>log/error_url.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG-FILE"/>
    </root>

    <logger name="download-error" level="ERROR" >
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ERROR_URL" />
    </logger>

    <logger name="com.seveniu" level="DEBUG"/>
    <!--<logger name="org.apache.http.impl.conn" level="DEBUG"/>-->
</configuration>
